.cabecalho{
  display: flex;
  border: 1x solid black;
  background-color: blueviolet;
  font-size: 20px;
}

.logo{
  height: 150px;
  border-radius: 50px;
  margin: 0 auto;
}

.siuu{
  display: flex;
  border: 1px solid black;
}

.projeto-titulo{
  font-size: 40px;
  text-align: center;
  
}

.meio{
  background-color: antiquewhite;
}

body{
  margin: 0;
}

.bloco{
  background-color: #f0f0f0; /* Um fundo cinza claro */
  padding: 20px;            /* 20 pixels de espaço interno */
  margin-bottom: 15px;      /* 15 pixels de margem inferior */
  border: 1px solid #ccc;   /* Uma borda fina */
  width: 20%;               /* Ocupa 50% da largura da tela */
  border-radius: 10px;
  margin: 10px ;
  display: flex;
  flex-direction: column;
 }

 .img-bloco{
  border-radius: 10px;
 }

 #pai{
  display: flex;
  justify-content: space-around;
 }

 #botao{
  margin: 0 auto;
  width: 100px;
  align-items: center;
  height: 30px;
  font-size: 15px;
  background-color: azure;
 }

 .links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    font-size: 25px;
    width: 80%;
 }

  


