.links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    font-size: 25px;
    width: 80%;
}


.titulo{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: whitesmoke
}

.logo{
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 100%;
    border-radius: 50px;
}

.reuniao{
    display: flex;
    width: 100%;
    border: 1px solid aquamarine;
}

.texto_imagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
}

.ti-conteudo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 45px;
}

.semi-titulo{
    border: 1px solid yellow;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 15px;
}

.texto-img{
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;
}

.img3{
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 10px;
}

.img-reu{
    filter: brightness(50%);
    width: 100%;
}

.conquistas{
    border: 1px solid green;
    text-align: left;
    font-size: 30px;
    background-color: azure;
}

.historico{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    border: 1px solid red;
}

.Estrutura{
    flex: 1;
  min-width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid goldenrod;
    
}

.pai{
    display: flex;
    gap: 20px;
}

body{
   margin: 0;
}

.mvv{
    font-size: 20px;
}

.cont{
    font-size: 25px;
}

.relatorio{
    font-size: 25px;
}

.transparencia{
    font-size: 20px;
    border: 1px solid;
    background-color: #FFE4B5
}

.link-botao{
    display: inline-block; 
    padding: 10px 20px; 
    color: #000; 
    text-decoration: underline;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: none; 
}

.link-botao:hover{
    background-color: #ccc;
}

.comeco{
    height: 10vh;
}



 



 